<div class="container-fluid">
    <!--<div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="form-group ">
                <label class="pull-left col-md-2" style="margin-top: 15px;">{{'DATE' | translate}} :</label>
                <div class="input-group pull-left col-md-4"  style="margin-left: 20px;margin-bottom: 20px;">
                    <input class="form-control date" datetimepicker ng-model="date" options="timepickerOptions"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div id="main" class="col-md-6" style="height: 350px;"></div>
        <div id="line" class="col-md-6" style="height: 350px;"></div>
    </div>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="pull-left col-md-2">
                <label>{{'ARTICLE' | translate}} :</label>
            </div>
            <div class="pull-left col-md-9" style="margin-left: 20px;margin-bottom: 20px;">
                <select name="selectArticle" chosen
                        ng-model="selectedArticle"
                        ng-options="item for item in topicNames"
                        required >
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" >
        <div id="topicBar" class="col-md-6" style="height: 350px;"></div>
        <div id="topicLine" class="col-md-6" style="height: 350px;"></div>
    </div>-->

</div>
