<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body class="container">
<h1 style="text-align: center; color: darkorange">用户列表</h1>
<div class="with: 80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>nickName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
              <th scope="row" th:text="${user.id}">1</th>
              <td th:text="${user.userName}">霜花似雪</td>
              <td th:text="${user.passWord}">123456</td>
              <td th:text="${user.email}">2510736432@qq.com</td>
              <td th:text="${user.nickName}">雪好美</td>
              <td><a th:href="@{/toEdit(id=${user.id})}">edit</a> </td>
              <td><a th:href="@{/delete(id=${user.id})}">delete</a> </td>
          </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>
