<?xml version="1.0" encoding="utf-8" ?>

<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <!-- 扫描mapping.xml文件 -->
    <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    <!-- 配置分页插件 -->
    <property name="plugins">
        <array>
            <bean class="com.github.pagehelper.PageHelper">
                <property name="properties">
                    <value>
                        helperDialect=mysql
                        offsetAsPageNum=true
                        rowBoundsWithCount=true
                        reasonable=false
                    </value>
                </property>
            </bean>
        </array>
    </property>
</bean>
