<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<title>CSS3网页背景音乐</title>

    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>

</head>
<body>

<audio src="../static/mp3/mengtaiwan.mp3" controls="controls" preload="auto" autoplay="autoplay" loop="loop">

</audio>

<div id="background" class="wall"></div>
<div id="midground" class="wall"></div>
<div id="foreground" class="wall"></div>
<div id="top" class="wall"></div>
<div style="text-align:center;">

</div>

</body>
</html>
